<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="static/images/spotify.png">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/styles/items.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arial|Poppins:400,600,700">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap">
    <script src="https://kit.fontawesome.com/01dce77cff.js" crossorigin="anonymous"></script>
    <title>Top 10 Artists</title>
</head>

<body>
    <div class="header">
        <button class="home-button">
            <a href="/profile"><i class="fa-solid fa-house-user"></i> Home</a>
        </button>
        <h1>Your Top 10 Artists</h1>
    </div>
    <div class="container">
        <div class="item-list">
            {% for artist in artists %}
            <div class="item">
                <img src="{{ artist['Artist image'] }}" alt="Artist Image" class="item-image">
                <div class="item-info">
                    <h2>{{ artist['Artist name'] }}</h2>
                    <p><strong>Genres:</strong> {{ artist['Genres'] | join(', ') }}</p>
                </div>
                <div class="item-links">
                    <a href="{{ artist['Artist link'] }}" target="_blank"><i class="fa-brands fa-spotify fa-lg"></i>
                        OPEN SPOTIFY</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>