body {
    font-family: 'Open Sans',
        sans-serif;
    margin: 0;
    padding: 0;
    background-color: #283618;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fefae0;
}

.greetings {
    text-align: center;
    margin-bottom: 30px;
}

.greetings h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 5em;
    color: #1db954;
    margin: 30px;
}

.greetings h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    margin: 10px 0;

}

.links {
    text-align: center;
}

.links h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    margin: 10px 0;
}

.links a {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #1db954;
    transition: color 0.3s;
}

.links a:hover {
    color: #14833b;
}

@media screen and (max-width: 768px) {
    .greetings h1 {
        font-size: 4em;
    }

    .greetings h3 {
        font-size: 1.2em;
    }

    .links h3 {
        font-size: 1em;
    }
    
}

@media screen and (max-width: 480px) {
    .greetings h1 {
        font-size: 3em;
    }

    .greetings h3 {
        font-size: 1em;
    }

    .links h3 {
        font-size: 0.8em;
    }
    
}