body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #283618;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #fefae0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    background-color: #1db954;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    text-align: center;
}

.header h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    color: #fefae0;
    margin: 0;
}

.home-button {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    text-decoration: none;
    color: #fff;
    background-color: #1db954;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
}

.home-button a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.home-button i {
    margin-right: 8px;
}


.container {
    width: 80%;
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    background-color: #1db954;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    text-align: center;
}

.total-playlists {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    margin: 10px 0;
    color: #fefae0;
    margin-bottom: 30px;
}

.playlist {
    background-color: #fefae0;
    color: #283618;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.playlist:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.playlist-image {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    margin-right: 15px;
}

.playlist-info {
    text-align: left;
}

.playlist h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 0;
    font-size: 1.5em;
    color: #1db954;
    transition: 0.5s ease-in-out;
}

.playlist p {
    margin: 5px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
}

.playlist strong {
    font-weight: 600;
}

a {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    text-decoration: none;
    color: #fff;
    background-color: #1db954;
    padding: 10px 20px;
    border-radius: 50px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #14833b;
}

.playlist h2:hover {
    color: #14833b;
}

/* Responsive styles */
@media (max-width: 768px) {

    .container,
    .header {
        width: 90%;
    }

    .header h1 {
        font-size: 2em;
    }

    .home-button {
        font-size: 1em;
        padding: 8px 16px;
    }

    .playlist {
        flex-direction: column;
        align-items: flex-start;
    }

    .playlist-image {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .playlist-info {
        text-align: center;
    }
}

@media (max-width: 480px) {

    .container,
    .header {
        width: 70%;
        padding: 15px;
    }

    .header h1 {
        font-size: 1.8em;
    }

    .home-button {
        font-size: 0.9em;
        padding: 6px 12px;
    }

    .playlist {
        align-items: center;
    }

    .playlist h2 {
        font-size: 1.2em;
    }

    .playlist p {
        font-size: 1em;
    }
}